*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.aider*
!.aider.conf.yaml
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
build
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*