button,
input {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #0f0f0f;
  font-size: 1em;
  font-weight: 500;
  outline: none;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #396cd8;
}
button:active {
  background-color: #e8e8e8;
  border-color: #396cd8;
}
html {
  background-color: #f6f6f6;
  color: #0f0f0f;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 48pt;
  font-weight: 400;
  line-height: 24px;
}